*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none !important;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // to use rem instead of pixels, 1rem = 10px
}
