$white: #fff;
$back-color: #f7f9fc;
$btn-back-color: #641bb4;
$text-color: #192432;
$line-color: #ededed;
$shadow-color: rgba(0,0,0,0.2);
$text-red: #ff144c;
$text-red-light: #ff5b81;;
$grey-dark: #9098b1;
$green: #3fcd6b;
