@import "./assets/style/base";
@import "./assets/style/mixins";

html,
body {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

teletronics-loader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

teletronics-button {
  @include for-phone-only {
    width: 100%;
  }
}