@import '../../../../assets/style/variables';
@import '../../../../assets/style/mixins';

.details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0;

    &__header {
        width: 100%;
        padding-bottom: 1rem;
        margin-bottom: 5rem;
        border-bottom: 0.1rem solid $line-color;
    }

    &__card {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        gap: 2rem;
        border: 0.2rem solid $line-color;
        border-radius: 1rem;
        padding: 2rem;
        width: 66rem;
        min-height: 12rem;
        background-color: $back-color;
    
        @include for-phone-up-tablet {
            width: 35rem;
        }
    
        &--key {
            margin-bottom: 0.25rem;
            font-size: 2rem;
            margin-inline-end: 2rem;
        }
    
        &--value {
            color: $grey-dark;
            font-size: 1.5rem;
        }
    }



}