<div class="details">
    <ng-container *ngIf="currencyData$ | async as currencyData; else loaderTemp">

        <teletronics-header [title]="('DETAILS.TITLE' | translate).replace('{0}', currencyData.name)"
            [buttonText]="'DETAILS.BACK' | translate" (onClick)="back()" class="details__header"></teletronics-header>

        <div class="details__card">
            <ng-container *ngFor="let item of ('DETAILS.CURRENCY_VALUES' | translate)">
                <ng-container *ngTemplateOutlet="keyValueTemp;context{key: item.KEY, value: currencyData[item.VALUE]}">
                </ng-container>
            </ng-container>
        </div>

    </ng-container>
</div>

<ng-template #keyValueTemp let-key="key" let-value="value">
    <div>
        <span class="details__card--key">{{ key }}: </span>
        <span class="details__card--value">{{ value }}</span>
    </div>
</ng-template>

<ng-template #loaderTemp>
    <teletronics-loader></teletronics-loader>
</ng-template>